<div class="row">
    <div class="col 6">
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Numero 1</label>
            <div class="col-sm-10">
                <input type="text" [(ngModel)]="numero1" name="numero1" class="form-control" id="numero1">
            </div>
        </div>
        <br>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Numero 2</label>
            <div class="col-sm-10">
                <input type="text" [(ngModel)]="numero2" name="numero2" class="form-control" id="numero2">
            </div>
        </div>
        <br>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Operacion</label>
            <div class="col-sm-10">
                <input type="text" [(ngModel)]="operacion" name="operacion" class="form-control" id="operacion">
            </div>
        </div>
        <div class="mb-3 row">
            <button (click)="Sumar()" class="btn btn-primary">Calcular</button>
        </div>
        <div class="col-6">
            <h1>Resultado: {{total}}</h1>
        </div>
    </div>
</div>



<!-- <div>
    Numero1:<input type="text" [(ngModel)]="numero1" name="numero1"><br>
    Numero2:<input type="text" [(ngModel)]="numero2" name="numero2"><br>
    <button type="button" (click)="sumar()">Calcular</button>
    <br>
    <input type="radio" value="suma" name="opera" [(ngModel)]>

    <h1>{{total}}</h1>
    {{calcula}}
</div> 

    <select>
        <option type="button" (click)="sumar()" value="sumar">Suma</option>
        <option value="suma">Resta</option>
        <option value="suma">Multiplicar</option>
    </select> -->

    